AIRFLOW_UID=50000

POSTGRES_USER=postgres
POSTGRES_DB=sentiment_db
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
HOST_PORT=5433
POSTGRES_CONTAINER=postgres-container-sentiments

# PGAdmin settings
PGADMIN_EMAIL=postgres@postgres.com
PGADMIN_PASSWORD=postgres
PGADMIN_PORT=5050